.container{
  display:flex;
  flex-direction: row;
}
/* .sidebar-container{
  width: 72px;
  height:100vh;
  
  /* border: 1px solid red; */
  /* background-image: url(../public/assets/Side\ Bar.png); */
  /* background:
} */ 